.sidebar {
    background-color: black;
    border-bottom: 2px solid white;
    animation: fadeDown .5s forwards;
    animation-delay: 1ms;
    opacity: 0;
    height: 500px;
    top: 80px;
    width: 95%;
    right: 20px;
    
    
    



}


@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        border-radius: 70%;

    }

    100% {
        opacity: 1;
        transform: translateX(0%);
        



    }

}