.offer-section {
    background: url("../../restoassets/bg-offer.png") no-repeat;
    background-size: cover;
    
    height: 100%;
    width: 100%;
    color: white;
    background-attachment: fixed;

}